* {
  background-color: black;
  color: white;
  /*Below is to make the content appear on the center*/
  max-width: 500px;
  margin: auto;
}
body {
  text-align: center !important;
}
td {
  width: 100px;
  height: 100px;
  background-color: #2980b9;
  border: 1px solid;
}
table {
  cursor: default;
}
.numberInsideBingo {
  font-size: xx-large;
}
#keyDisplayArea,
#messageDisplayArea {
  color: green;
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
#gameTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
}
